/*class to .
*/

.main-section-container{
  padding-top: 120px;
  padding-bottom: 75px;
  border-color: black 2px
}


.left-container{
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}

#CrystalsCollector{
  background-color: orange;
  border: black 1px;
  color: white;
/*  margin-left: 100px;
  padding: 35px;*/
}

#textRow {
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}

#targetNumberRow {
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}

 #WL {
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}
#gemRow {
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}
#myCurrentScoreRow {
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}
#row5 {
  background-color: grey;
  border: black 1px;
  margin-left: 100px;
  padding: 35px;
}


h2 {
	color: blue;
}

